{% extends 'month.html' %}
{% block monthname %}
    <strong  style = "text-transform:capitalize; font-size:100px;">{{monthname}} </strong> 
    <strong  style = "font-size:100px;"> is pressed</strong> 
{% endblock %}

{% comment %} {% ifequal monthname 'jan' %}
    <h1>jan is pressed</h1>
{% endifequal %}
{% ifequal monthname 'feb' %}
    feb is pressed
{% endifequal %}
{% ifequal monthname 'mar' %}
    mar is pressed
{% endifequal %}
{% ifequal monthname 'apr' %}
    apr is pressed
{% endifequal %}
{% ifequal monthname 'may' %}
    may is pressed
{% endifequal %}
{% ifequal monthname 'jun' %}
    jun is pressed
{% endifequal %}
{% ifequal monthname 'jul' %}
    jul is pressed
{% endifequal %}
{% ifequal monthname 'aug' %}
    aug is pressed
{% endifequal %}
{% ifequal monthname 'sept' %}
    sept is pressed
{% endifequal %}
{% ifequal monthname 'oct' %}
    oct is pressed
{% endifequal %}
{% ifequal monthname 'nov' %}
    nov is pressed
{% endifequal %}
{% ifequal monthname 'dec' %}
    dec is pressed
{% endifequal %} {% endcomment %}